body {
    background-color: grey;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

#mail {
    width: 5%;
    height: auto;
}

#discord {
    width: 5%;
    height: auto;
}

#nav_button {
    border: 5px solid white;
    background-color: white;
}