body {
    background-color: grey;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

mail {
    width: 10px;
    height: 10px;
}

discord {
    width: 10px;
    height: 10px;
}